/* Unifying Class Names */
.poppins {
    font-family: 'Poppins';
    font-style: normal;
}
/* Unifying Class Names */
/* HEADER */ 
.fa-bars {
    display: none;
}
.header {
    padding-bottom: 6.25rem;
}
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
}
.ul-li-item {
    width: 26rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #556987;
    cursor: pointer;
}
.log-in-button {
    border: none;
    background-color: #FFFFFF;
    color: #556987;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}
.sign-up-button {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 5.375rem;
    height: 2.25rem;
    background: #22C55E;
    color: #F0FDF4;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}
.sign-up-button:hover {
   box-shadow: 5px 5px 5px rgba(105, 81, 255, 0.05);
}
/* HEADER */
/* FIRST SECTION */
.background-image {
    max-width: 71.25rem;
    width: 100%;
    background-color: #2A3342;    
    margin:0 auto;
    padding: 5rem 0;
    border-radius: 1.875rem;
}
.texts {
    max-width: 52.938rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.header-button {
    color: #FFFFFF;
    background: #22C55E;
    width: 3.875rem;
    height: 1.375rem;
    border: none;
    border-radius: 2.25rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
}
.texts h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
    margin: 1.625rem 0 1.5rem 0;
}
.texts p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #8896AB;
}
.buttons {
    max-width: 34.625rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.625rem auto 1rem auto;
}
.fa-envelope {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
    color: #556987;
    font-size: 1.25rem;
}
.email-form {
    position: relative;
}
.input-element {
    width: 20rem;
    height: 3.5rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
}
.input-element::placeholder {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #667085;
}
.get-button {
    background: #22C55E;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border: none;
    border-radius: 0.375rem;
    max-width: 12.938rem;
    width: 100%;
    height: 3.5rem;
}
 .bottom-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
/* SECOND SECTION */
.section02-container {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2.5rem 0 2.5rem;
}
.section02-title {
    max-width: 57.438rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.features {
    width: 4.625rem;
    height: 1.375rem;
    margin: 5.625rem auto 1rem auto;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 2.25rem;
    background: #DCFCE7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features h6 {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #22C55E;
}
.section02-title h3,
.section03-title h3 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #2A3342;
    margin-bottom: 1rem;
}
.section02-title p,
.section03-title p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #556987;
    margin-bottom: 5rem;
}
.section02-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.125rem;
}
.grid-box {
    height: 22.438rem;
}
.grid-box {
    text-align: center;
}
.grid-block-icon {
    background-color: #22C55E;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 1.5rem auto;
    border-radius: 0.375rem;
}
.grid-box h3,
.section03-texts h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #2A3342;
    margin-bottom: 1rem;
}
.grid-box p,
.section03-texts p {
    width: 80%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #556987;
}
.blue-container {
    background-color: #1C232D;
    margin: 0 auto 8.75rem auto;
    max-width: 71.25rem;
    width: 100%;
    padding: 3.875rem 5.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blue-right-side {
    max-width: 28.5rem;
    width: 100%;
}
.blue-right-side h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.blue-right-side p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #8896AB;
}
.blue-get-started,
.blue-learn-more {
    width: 10rem;
    height: 3.5rem;
    background: #22C55E;
    border: none;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #F0FDF4;
}
.blue-learn-more {
    background: #FFFFFF;
    color: #333F51;
    margin-left: 1.5rem;
}
/* SECOND SECTION */
/* THIRD SECTION */
.features03 {
    width: 4.625rem;
    height: 1.375rem;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 2.25rem;
    background: #DCFCE7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.features03 h6 {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #22C55E;
}
.section03-title p {
    max-width: 57.438rem;
    width: 100%;
}
.section03-container {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3.75rem;
}
.section03-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-box01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.75rem;
}
.section03-texts h3,
.section03-texts p {
    width: 90%;
    margin: 0 auto;
}
.green-icon {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #22C55E;
    margin-right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side-block {
    background-image: url(../images/Image\ Container.jpg);
    max-width: 34.625rem;
    width: 100%;
    height: 34.75rem;
    background-repeat: no-repeat;
    background-size: cover;
}
/* THIRD SECTION */

/* FOURTH SECTION */
.section04-container,
.section04-container02 {
    max-width: 90rem;
    width: 100%;
    margin: 10.625rem auto 0 auto;
    padding: 0 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sect04-left-side {
    background-image: url(../images/Image\ Container.jpg);
    max-width: 34.625rem;
    width: 100%;
    height: 34.75rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1.25rem;
}
.sect04-right-side {
    width: 28.5rem;
}
.sect04-right-side h3 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    color: #2A3342;
}
.sect04-right-side p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #556987;
    margin: 2rem 0 1.563rem 0;
}
.get-started-button {
    width: 8rem;
    height: 2.875rem;
    background: #22C55E;
    border: none;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #F0FDF4;
}
/* FOURTH SECTION */

/* FIFTH SECTION */
.section05-container {
    max-width: 90rem;
    width: 100%;
    margin: 6.25rem auto 7.5rem auto;
}
.numbers-title {
    width: 3.563rem;
    height: 1.125rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #22C55E;
    border-radius: 2.25rem;
    background: #DCFCE7;
    margin: 0 auto;
}
.section05-container h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    color: #2A3342;
    margin: 1.125rem 0 1rem 0;
}
.section05-container p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #556987;
    margin-bottom: 4rem;
}
.section05-title {
    max-width: 57.438rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.section05-grid {
    max-width: 71.25rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid-05 {
    max-width: 16.313rem;
    width: 100%;
    margin: 0 auto;
}
.grid-05 h6 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    color: #22C55E;
    letter-spacing: -0.02em;
}
.grid-05 p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #556987;
}
/* FIFTH SECTION */

/* FOOTER */
.footer {
    background-color: #2A3342;
    padding: 5.313rem 0;
}
.footer-container {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
}
.upper-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.footer-ul-item {
    max-width: 51.813rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #8896AB;
}
.line {
    border: 1px solid #333F51;
    margin: 2.813rem 0;
}
.copyright {
    max-width: 18.938rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.copyright p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #8896AB;
}
